.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  overflow: hidden;

  &--messages {
    max-width: 100%;
    width: 100vw;
    flex: 1 0 0;
  }

  &--form {
    max-width: 100%;
    width: 100vw;
    background: white;
    flex: 0 0 50px;
  }
}
