.header {
  .navbar {
    background: black;
    color: white;
  }
  .navbar-nav .nav-link {
    color: white;
    &:hover {
      text-shadow: 1px 1px #e91ed8;
    }
  }
  .btn-outline-success {
    color: white;
    border-color: white;

    &:hover {
      background: #3f94f9;
    }
  }
}
