.header {
  .navbar-nav .nav-link {
    color: white;
    &:hover {
      color: #e91ed8;
    }
  }
  .navbar-toggler {
    color: white;
    border-color: white;
    &:hover {
      border-color: #e91ed8;
    }
  }
  button:focus {
    outline: 5px auto #e91ed8;
  }

  .btn-outline-success {
    color: white;
    border-color: white;

    &:hover {
      background: #e91ed8;
    }
  }
}
